body {
  background: #121212;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.player {
  width: 320px;
  background: #181818;
  padding: 20px;
  border-radius: 20px;
  color: white;
}

.cover {
  width: 100%;
  border-radius: 12px;
}

.artist {
  color: #aaa;
  font-size: 14px;
}

.progress-container {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 5px;
  margin: 15px 0;
}

#progress {
  width: 0%;
  height: 100%;
  background: #1db954;
  border-radius: 5px;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  max-height: 150px;
  overflow-y: auto;
}

li {
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
}

li.active {
  background: #1db954;
  color: black;
}

li:hover {
  background: #333;
}
